[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
fastapi = "*"
alembic = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
psycopg2-binary = "*"
python-multipart = "*"
requests = "*"
python-dotenv = "*"
pydantic-settings = "*"
langchain = "*"
langchain-openai = "*"
langchain-pinecone = "*"
pypdf = "*"

[requires]
python_version = "3.11"
