gunicorn
uvicorn
fastapi==0.110.1
python-dotenv
langchain
langchain-cohere
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-postgres
langchain-text-splitters
pinecone-client
pydantic_settings
pypdf
psycopg
psycopg-binary
passlib
python-jose
bcrypt==3.2.2
pyjwt
pydantic[email]
cohere
httpx[socks]
langsmith
boto3
pytesseract
pdf2image
fastapi-mail==1.4.1
python-multipart
sendgrid
sse-starlette
email-validator
dnspython
jinja2
