gunicorn
uvicorn
fastapi
python-dotenv
langchain
langchain_openai
pinecone-client
pydantic_settings
pypdf
psycopg
psycopg-binary
passlib
python-jose
bcrypt==3.2.2
pyjwt
pydantic[email]
cohere
langchain_cohere
httpx[socks]
langsmith
langchain-postgres
boto3
pytesseract
pdf2image
fastapi-mail
python-multipart
secure-smtplib