gunicorn
uvicorn
fastapi==0.110.1
python-dotenv
langchain==0.2.7
langchain-cohere==0.1.9
langchain-community==0.2.7
langchain-core==0.2.16
langchain-openai==0.1.15
langchain-pinecone==0.1.1
langchain-postgres==0.0.9
langchain-text-splitters==0.2.2
pinecone-client==3.2.2
pydantic_settings
pypdf
psycopg
psycopg-binary
passlib
python-jose
bcrypt==3.2.2
pyjwt
pydantic[email]
cohere==5.5.8
httpx[socks]
langsmith==0.1.85
boto3
pytesseract
pdf2image
fastapi-mail==1.4.1
python-multipart
sendgrid
sse-starlette
email-validator
dnspython
jinja2